- function repSpace(txt) { return txt.replace(' ', '_'); }
- var blk = ['lines', 'code', 'comments', 'blanks', 'files']
doctype html
html
  head
    title Tokeize
    meta(charset='utf-8')
    style !{css}
    style #{colors}
    script(type='text/javascript').
      //<![CDATA[
      !{js}
      //]]>
  body(onload='App.init()')
    h1 Tokeize
    #main.mainblock
      div.menu
        span
        button#main-btn-projets.selected(onclick='App.show("projets")') Les projets
        button#main-btn-global(onclick='App.show("global")') Stats globales
        span
      #main-global
        table
          tr
            td.b Total lines:
            td= totals[0]
            td.b Total code:
            td= totals[1]
          tr
            td.b Total comments:
            td= totals[2]
            td.b Total blanks:
            td= totals[3]
          tr
            td.b Total files:
            td= totals[4]
            td.b Total projects:
            td= totals[5]
        .rep
          each _, i in blk
            .repart
              each val, key in global
                - var key = repSpace(key)
                div(class='rep-'+key, style='width: calc('+val.nb[i][1]+'% - 1px)')
        #global-data
          .selected
            table
              tr
                th Language
                th Lines
                th Code
                th Comments
                th Blanks
                th Files
              - var i = 1
              each val, lg in global
                - var cl = repSpace(lg)
                tr(class='trclk txt-'+cl, onclick='App.lang('+i+')')
                  td= lg
                  for _, i in blk
                    td
                      span= val.nb[i][0]
                      span.per (#{val.nb[i][1]}%)
                - i++
          - var j = 0
          each val, lg in global
            - var cl = repSpace(lg)
            .lang
              .title
                table
                  tr(class='txt-'+cl)
                    td= lg
                    for _, i in blk
                      td
                        span= val.nb[i][0]
                        span.per (#{val.nb[i][1]}%)
                button(onclick='App.lang(0)') Back
              table.glblg(id='glb-'+j)
                tr
                  th Project
                  th Lines
                  th Code
                  th Comments
                  th Blanks
                  th Files
                - var i = 0
                each ctnt, projet in val.projets
                  tr.prj(onclick='App.glb('+j+', '+i+')')
                    td= projet
                    each l in blk
                      td
                        span= ctnt.stats[l][0]
                        span.per (#{ctnt.stats[l][1]}%)
                  tr.dtl
                    td(colspan='6')
                      table
                        each file in ctnt.files
                          tr
                            td= file.name
                            each i in [0, 1, 2, 3]
                              td
                                span= file.stats[blk[i]][0]
                                span.per (#{file.stats[blk[i]][1]}%)
                  - i++
            - j++
      #main-projets
        each val, key in projets
          .projet
            .nom(onclick='App.reach('+key+')')= val[0]
            .details
              each sv, sk in val[1].stats
                div
                  span #{sk} :&nbsp;
                  span= sv[0]
            .repart
              each lg in val[1].langs
                - var cl = repSpace(lg)
                div(class='rep-'+cl,style='width: calc('+val[1][lg].lines[1]+'% - 1px)')
    #solo.mainblock
      each val, key in projets
        .solo(id='solo-'+key)
          .titre
            span.nom= val[0]
            button(onclick='App.gotomain()') Back
          table
            tr
              td.b Total lines:
              td
                span= val[1].stats.lines[0]
                span.per (#{val[1].stats.lines[1]}%)
              td.b Total code:
              td
                span= val[1].stats.code[0]
                span.per (#{val[1].stats.code[1]}%)
            tr
              td.b Total comments:
              td
                span= val[1].stats.comments[0]
                span.per (#{val[1].stats.comments[1]}%)
              td.b Total blanks:
              td
                span= val[1].stats.blanks[0]
                span.per (#{val[1].stats.blanks[1]}%)
            tr
              td.b Total files:
              td
                span= val[1].stats.files[0]
                span.per (#{val[1].stats.files[1]}%)
          .note (% number from the global dataset)
          .rep
            each lab in blk
              .repart
                each lg in val[1].langs
                  - var cl = repSpace(lg)
                  div(class='rep-'+cl,style='width: calc('+val[1][lg][lab][1]+'% - 1px)')
          .datas
            .panel
              .selected(onclick='App.panel('+key+',0)') Total
              each lg, inc in val[1].langs
                div(onclick='App.panel('+key+','+(inc+1)+')')= lg
            .data
              div.selected
                table
                  tr
                    th Languages
                    th Lines
                    th Code
                    th Comments
                    th Blanks
                    th Files
                  each lg, i in val[1].langs
                    - var cl = repSpace(lg)
                    tr(class='trclk txt-'+cl, onclick='App.panel('+key+','+(i+1)+')')
                      td= lg
                      each lab in blk
                        td
                          span= val[1][lg][lab][0]
                          span.per (#{val[1][lg][lab][1]}%)
                          span.per (#{val[1][lg][lab][2]}%)
                .note (first % from the project, second % from the global dataset)
              each lg in val[1].langs
                div
                  table
                    tr
                      th Languages
                      th Lines
                      th Code
                      th Comments
                      th Blanks
                      th Files
                    - var cl = repSpace(lg)
                    tr(class='txt-'+cl)
                      td= lg
                      each lab in blk
                        td
                          span= val[1][lg][lab][0]
                          span.per (#{val[1][lg][lab][1]}%)
                          span.per (#{val[1][lg][lab][2]}%)
                  .filelist
                    h3 Files:
                    table
                      tr
                        th File name
                        th Lines
                        th Code
                        th Comments
                        th Blanks
                      each file in val[1][lg].reports
                        tr
                          td= file.name
                          each i in [0, 1, 2, 3]
                            - var l = blk[i]
                            td
                              span= file.stats[l][0]
                              span.per (#{file.stats[l][1]}%)
                              span.per (#{file.stats[l][2]}%)
                    .note (first % from the language in the project, second % from the total in the project)
